@{
    ViewData["Title"] = "Axel Up";
}

<div class="puntajes">
    
    <div class="puntajes__grupo">
        <h2 class="puntajes__posicion invisible">texto</h2>
        <h2 class="puntajes__titulo">Score</h2>
        <h2 class="puntajes__titulo">Name</h2>
    </div>
    
    @foreach(Puntajes p in ViewBag.lstPuntajes){

        if(p.idPuntaje == ViewBag.ultimoPuntaje){
            <div class="puntajes__grupo amarillo">
                <h2 class="puntajes__posicion">@(ViewBag.lstPuntajes.IndexOf(p) +1)°</h2>
                <h2 class="puntajes__titulo">@p.Numero</h2>
                <h2 class="puntajes__titulo">@p.Nombre</h2>
            </div>            
        } else{
            <div class="puntajes__grupo">
                <h2 class="puntajes__posicion">@(ViewBag.lstPuntajes.IndexOf(p) +1)°</h2>
                <h2 class="puntajes__titulo">@p.Numero</h2>
                <h2 class="puntajes__titulo">@p.Nombre</h2>
            </div>
        }
    }
</div>
